{% extends 'base.html' %}


{% block contenido %}

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">{{ post.fecha }}</p>
        <h6>{{post.creador}}</h6>
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{ post.post }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <form method="post">{% csrf_token %}
        {{ formulario_comentario }}

        <button type="submit">Comentar</button>
    </form>


{% endblock contenido %}



