
{% extends 'base.html' %}
{% load static %}



{% block contenido %}
<center>
<div class="post-container">

  <form method="get">
    <select name="categoria" id="">
      <option value="">Todas</option>
      {% for categoria in categorias %}
        
      <option value="{{categoria.id}}">{{categoria.nombre}}</option>

      {% endfor %}

    </select>


    <select name="Ordenar" id="">
      <option value="">Ordenar por</option>
      <option value="fecha_asc">Fecha ascendente</option>
      <option value="fecha_desc">Fecha descendente</option>
      <option value="alf_asc">Alfabeticamente ascendente</option>
      <option value="alf_desc">Alfabeticamente descendente</option>



    </select>




      <button type="submit">Filtrar</button>
      
    </center>
        
       



    





  </form>  





    <h2><center>Publicaciones</center></h2>
    
    
    {% if user.is_authenticated and user.es_colaborador or user.is_superuser %}

    <a href="{% url 'publicaciones:postear' %}"><button type="submit" class="btn btn-success mt-3 m-5">Crear Post</button></a>
      
    {% endif %}
      

    
    
    {% for post in posteos %}
        
    
        

    <div class="card m-5">
        <div class="card-header bg-warning">
          {{post.fecha}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.titulo}}</h5>
          <p class="card-text">{{post.post}}</p>
          <p class="card-text">{{post.categoria}}</p>
          <p class="card-text">{{post.creador}}</p>

          <form action="{% url 'publicaciones:me-gusta' %}" method="post">{% csrf_token %}
            <input type="hidden" name="publicacion_id" value="{{post.id}}">

            
            {% if user.is_authenticated %}
              
            
              

            {% if user in post.meGusta.all %}
              <button type="submit" class="btn btn-danger">Ya no me gusta</button>

            {% else %}
             <button type="submit" class="btn btn-success">me gusta!</button>

            {% endif %}
          </form>
          {% endif %}
          <a href="{% url 'publicaciones:detalle-post' post.id %}" class="btn btn-success">Ver Mas</a>

          
          
          {% if user.is_superuser or user == post.creador %}

          <a href="{% url 'publicaciones:editar-post' post.id %}" class="btn btn-success">Editar</a>
          <a href="{% url 'publicaciones:eliminar-post' post.id %}" class="btn btn-danger">Eliminar Post</a>
            





          {% endif %}
          
          



          
        </div>  
      </div>


      {% endfor %}


</div>
    
{% endblock contenido %}
    